<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RMC Web Design -- Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

<header>
    <article class="header--nav">
        <article>
            <h1>RMC Web Design</h1>
        </article>

        <a href="/presupuesto" class="header--nav__callToAction">Pide tu presupuesto!</a>
    </article>

    <article>
        <article class="custom--container">
            <img src="img/laptop.png" alt="" class="floating--image">
            <article class="custom--container--slogan">
                <article class="typewriter">
                    <h2>RMC Web Design</h2>
                    <p>Bienvenido a mi portofolio</p>
                </article>
            </article>
        </article>
    </article>

</header>

<main >
    <section class="description--first">
        <article class="description--custom--container">
            <article>
                <p>Me presento, me llamo Raúl y soy desarrollador web.</p>
                <p>En los lenguajes que más he programado destacan PHP y Python, pero, a parte de esos lenguajes he programado en varios lenguajes como Java, Javascript y he utilizado distintos frameworks de varios lenguajes como pueden ser Laravel, Joomla!, Prestashop y Wordpress para PHP, y, también podríamos incluir Django para Python y Nodejs para Javascript</p>
                <p>He estudiado un grado medio de Técnico en sistemas micorinformáticos y redes en uno de los mejores centros de Baleares, cuando acabé el grado medio entré a trabajar en una empresa a finales de 2017 como programador PHP donde desarrollé
                    <a href="">Yoogroop</a>, era una web dónde podías montar tus quedadas con amigos utlizando un bote común o avisando a un bar/restaurante que pagabas en el local, ó, incluso tenías la opción de pagar por adelantado y evitarte de problemas en el local</p>
                <p>Actualmente me encuentro en segundo curso de un grado superior de desarrollo de aplicaciones web, porque, pese a tener ya varios años de experiencia en el sector, es una profesión de constante cambio y que hay que estar aprendiendo constantemente. Este curso lo estoy cursando en el mismo centro donde hice el grado medio. Dicho curso lo estoy compaginando con mi trabajo de desarrollador donde me siento orgulloso de poder decir que he desarrollado las páginas webs de una empresa dedicada a la seguridad vial de los más pequeños.</p>
                <p>A continuación os dejo unos enlaces a las páginas en las que he trabajado con una breve descripción de los lenguajes que se han usado:</p>
            </article>
        </article>
    </section>

    <section class="custom--container">
        <article class="row">

            <article class="card" style="width: 18rem;">
                <img src="https://yoogroop.com/images/yoogroup/logo.png" alt="Logo Yoogroop" class="card-img-top" style="width: 100%; height: 100px;">
                <article class="card-body">
                    <h5 class="card-title">Yoogroop</h5>
                </article>
            </article>

            <article class="col"></article>

            <article class="card" style="width: 18rem;">
                <img src="https://www.smart-baby.com/images/logo-smart-baby.png" alt="Logo Smart-Baby" class="card-img-top" style="width: 100%; height: 100px;">
                <article class="card-body">
                    <h5 class="card-title">Smart Baby</h5>
                </article>
            </article>

            <article class="col"></article>

            <article class="card" style="width: 18rem;">
                <img src="https://yoogroop.com/images/yoogroup/logo.png" alt="Logo Yoogroop" class="card-img-top" style="width: 100%; height: 100px;">
                <article class="card-body">
                    <h5 class="card-title">Sipe Baby Rescuer</h5>
                </article>
            </article>

            <article class="col"></article>

            <article class="card" style="width: 18rem;">
                <img src="img/LeStudio.png" alt="Logo Le Studio" class="card-img-top" style="width: 100%; height: 100px;">
                <article class="card-body">
                    <h5 class="card-title">Le Studio</h5>
                </article>
            </article>

        </article>
    </section>

    <section class="custom--container">
        <article class="d-flex flex-center">
            <a href="" class="badge badge-pill badge-primary">Pide tu presupuesto</a>
        </article>
    </section>

</main>

<footer>

</footer>

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>